.read1{
    border: 20px;
    background-color:#1a2137 ;
    height: 40px;
    color:white;
    border-radius: 5px;
   
    
}
.pa-1{
    color: #7b8794;
    
}
.read2{
    border: 20px;
    background-color:#1a2137 ;
    height: 40px;
    color:white;
    border-radius: 5px;

   
    
}
.pa-2{
    color: #7b8794;
}
.optics{
    padding-top:100px;
}
.touch{
     padding-top:100px;
}